<div class="offcanvas  offcanvas-start sidebar-nav bg-img" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        
    <div class="offcanvas-body mt-1">
      <nav>
        <ul class="navbar-nav">
          <li >
            <div class ="my-1 text-uppercase fw-bold text-secondary small ">CORE</div>
          </li>
          <li>
            <a href="#" class="nav-link active text-info">
              <span><i class="bi bi-speedometer2 me-2"></i></span>
              <span>  Dashboard </span>
            </a>
                           
          </li>
          <li class="my-1">
            <hr class="dropdown-divider text-light">
          </li>
          <li >
            <a class="nav-link sidebar-link text-info " 
            data-bs-toggle="collapse" href="#noteslink" 
            role="button" aria-expanded="false">Notes
            <span class="right-link ms-auto">
            <i class="bi bi-chevron-down">
            </i>
            </span>
            
          </a>
          </li>
          <ul class="navbar-nav flex-column collapse " id="noteslink">
            <li class="nav-item ">
              <a href="#" class="nav-link text-info ">
                <span><i class="bi bi-server me-2"></i></span>
                <span>  Oracle </span>
              </a>
                            
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-info">
                <span><i class="bi bi-sticky-fill me-2"></i></span>
                <span>  Postgrepsql </span>
              </a>
                            
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-info">
                <span><i class="bi bi-cloud-snow-fill me-2"></i></span>
                <span>  Cloud Technology </span>
              </a>
                            
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-info">
                <span><i class="bi bi-bookshelf me-2"></i></span>
                <span>  Shell Programs </span>
              </a>
                            
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link text-info">
                <span><i class="bi bi-lightning-charge-fill me-2"></i></span>
                <span>  Rating System </span>
              </a>
                            
            </li>
          </ul>
          <li class="my-1">
            <hr class="dropdown-divider text-light">
          </li>
          <li >
            <a class="nav-link sidebar-link text-info " 
            data-bs-toggle="collapse" href="#taskslink" 
            role="button" aria-expanded="false">Tasks
            <span class="right-link ms-auto">
            <i class="bi bi-chevron-down">
            </i>
            </span>
            
          </a>
          </li>
          <ul class="navbar-nav flex-column collapse " id="taskslink">
           <li class="nav-item">
            <a href="#" class="nav-link text-info">
              <span><i class="bi bi-power"></i></span>
              <span>  Pending </span>
            </a>
                           
            </li>
            <li>
            <a href="#" class="nav-link text-info">
              <span><i class="bi bi-skip-start-circle"></i></span>
              <span>  Ongoing </span>
            </a>
                           
            </li>
            <li>
            <a href="#" class="nav-link text-info">
              <span><i class="bi bi-check-square-fill"></i></span>
              <span>  Completed </span>
            </a>
                           
            </li>
          </ul>
        </ul>
      </nav>
    </div>
  </div>